*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  margin: 0px;
  text-align: center;
  background-color: #F6FBFF;
  color: #5b5b5b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  display: block;
}

.top {
  position: relative;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
}

.header-wrapper .logo {
  width: 180px;
  margin: 10px auto 10px 10px;
  font-size: 2.4rem;
  line-height: 5.6rem;
}

.header-wrapper .logo a {
  text-decoration: none;
  color: #2cbae7;
}

.header-wrapper ul {
  float: right;
  margin-right: 30px;
  line-height: 5.6rem;
}

.header-wrapper ul li {
  display: inline;
  padding-left: 40px;
  font-size: 1.6rem;
}

.header-wrapper ul li a {
  text-decoration: none;
  color: #2cbae7;
  cursor: pointer;
  font-weight: bold;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: none;
}

.modal-wrapper__bg {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #ffffff;
  padding: 20px 50px 40px;
  border-radius: 5px;
  width: 530px;
  height: auto;
  text-align: center;
}

.modal form {
  width: 80%;
  margin: 0 auto;
}

.modal .bold {
  font-weight: bold;
}

.terms-of-service {
  text-decoration: none;
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 4%;
  cursor: pointer;
}

#signup-form,
#login-form {
  width: 100%;
  font-size: 1.6rem;
}

#signup-form h2,
#login-form h2 {
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 2.4rem;
}

#signup-form input,
#login-form input {
  width: 320px;
  margin-bottom: 20px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

.submit-btn {
  display: inline-block;
  padding: 14px 15%;
  background-color: #fc9d9d;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.top-image {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;
}

.top-image h1 {
  color: #2cbae7;
  font-size: 4.8rem;
  margin: 0;
}

.top-image h2 {
  color: #2cbae7;
  margin: 0;
  font-size: 2.4rem;
}

.top-message {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  margin: auto;
}

.wrapper {
  margin: 50px 0;
}

.service-intro-container {
  width: 90%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 80px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-intro-container__text {
  width: 50%;
  padding: 0;
}

.service-intro-container__text--left {
  text-align: left;
}

.service-intro-container__text--left h2 {
  margin-top: -10px;
  margin-left: -1%;
  display: inline-block;
  text-align: left;
  font-size: 4rem;
}

.service-intro-container__text--left p {
  margin-top: 0;
  margin-left: -0.5%;
  display: inline-block;
  text-align: left;
  font-size: 2.4rem;
}

.service-intro-container__text--right {
  text-align: right;
}

.service-intro-container__text--right h2 {
  margin-top: -10px;
  font-size: 4rem;
}

.service-intro-container__text--right p {
  margin-top: 0;
  font-size: 2.4rem;
}

.service-intro-container__image {
  width: 40%;
}

.service-intro-container__image#img1 {
  width: 30%;
}

.service-intro-container__image#img1 .swiper-slide img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-intro-container .service-intro-container__image--picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  margin: 50px 0 0 0;
}

.faq-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.faq-container h2 {
  font-size: 4rem;
  margin: 0 0 10px 0;
}

.faq-container p {
  font-size: 2.0rem;
}

.faq-list {
  margin: .25em auto;
  max-width: 815px;
  padding-left: 0;
}

.faq-list__item {
  list-style: none;
  margin-bottom: 5px;
}

.faq-list__item .faq-question {
  padding: 1rem 2.5rem 1rem 1.25rem;
  margin-bottom: 2px;
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  text-align: left;
  font-size: 2.4rem;
  color: #5b5b5b;
  background-color: #D5EEFF;
  cursor: pointer;
  outline: none;
}

.faq-list__item .faq-answer {
  text-align: left;
  padding: 1rem 0rem 1rem 1.25rem;
  display: none;
  background-color: #D5EEFF;
  cursor: pointer;
}

.faq-list__item .svg-icon-thin-x {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1em;
  width: 1em;
  fill: #5b5b5b;
}

.faq-list__item .svg-closed {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: .5rem;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 11rem;
  color: #fff;
  border-radius: .25rem;
  background: #fc9d9d;
  position: relative;
  text-decoration: none;
}

a.btn-flat span {
  position: relative;
  font-size: 2rem;
}

a.btn-flat::before {
  position: absolute;
  top: 0;
  left: 0.3vh;
  width: 120%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #2cbae7;
}

a.btn-flat:hover::before {
  -webkit-transform: translateX(-8%) translateY(-25%) rotate(135deg);
  transform: translateX(-8%) translateY(-25%) rotate(135deg);
}
/*# sourceMappingURL=stylesheet.css.map */