$main-color: #2cbae7;
$text-color: #5b5b5b;
$register-color: #fc9d9d;

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  margin: 0px;
  text-align: center;
  background-color: #F6FBFF;
  color: $text-color;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  display: block;
}

.top {
  position: relative;
}

// ヘッダー
.header-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;

  .logo {
    width: 180px;
    margin: 10px auto 10px 10px;
    font-size: 2.4rem;
    line-height: 5.6rem;

    a {
      text-decoration: none;
      color: $main-color;
    }
  }

  ul {
    float: right;
    margin-right: 30px;
    line-height: 5.6rem;

    li {
      display: inline;
      padding-left: 40px;
      font-size: 1.6rem;

      a {
        text-decoration: none;
        color: $main-color;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

// モーダル
.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: none;

  &__bg {
    height: 100vh;
    position: absolute;
    width: 100%;
  }
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #ffffff;
  padding: 20px 50px 40px;
  border-radius: 5px;
  width: 530px;
  height: auto;
  text-align: center;


  form {
    width: 80%;
    margin: 0 auto;
  }

  .bold {
    font-weight: bold;
  }
}

.terms-of-service {
  text-decoration: none;
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 4%;
  cursor: pointer;
}

#signup-form,
#login-form {
  width: 100%;
  font-size: 1.6rem;

  h2 {
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-size: 2.4rem;
  }

  input {
    width: 320px;
    margin-bottom: 20px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
}

.submit-btn {
  display: inline-block;
  padding: 14px 15%;
  background-color: $register-color;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

// トップイメージ
.top-image {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;

  h1 {
    color: $main-color;
    font-size: 4.8rem;
    margin: 0;
    // background-color: rgba($color: white, $alpha: 0.5);
  }

  h2 {
    color: $main-color;
    margin: 0;
    font-size: 2.4rem;
    // background-color: rgba($color: white, $alpha: 0.5);
  }
}

.top-message {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  margin: auto;
}

// サービス紹介
.wrapper {
  margin: 50px 0;
}

.service-intro-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 90px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__text--left {
    text-align: left;
    width: 50%;

    h2 {
      margin-top: -10px;
      margin-left: -1%;
      display: inline-block;
      text-align: left;
      font-size: 4rem;
    }

    p {
      margin-top: 0;
      margin-left: -0.5%;
      display: inline-block;
      text-align: left;
      font-size: 2.4rem;
    }

    span.beginning-is-key-bracket {
      display: block;
      margin-left: -1.4rem;
    }
  }

  &__text--right {
    width: 48rem;
    text-align: left;
    margin-right: -1rem;

    h2 {
      margin-top: -10px;
      font-size: 4rem;
    }
    p {
      margin-top: 0;
      font-size: 2.4rem;
    }
  }

  &__image {
    width: 40%;
  }

  &__image#img1 {
    .swiper-slide {
      width: auto;
      height: 400px;

      img {
        height: 100%;
        object-fit: fill;
      }
    }
  }

  .service-intro-container__image--picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// よくある質問
.wrapper {
  margin: 50px 0 0 0;

}

.faq-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    font-size: 4rem;
    margin: 0 0 10px 0;
  }

  p {
    font-size: 2.0rem;
  }

}

.faq-list {
  margin: .25em auto;
  max-width: 815px;
  padding-left: 0;

  &__item {
    list-style: none;
    margin-bottom: 5px;

    .faq-question {
      padding: 1rem 2.5rem 1rem 1.25rem;
      margin-bottom: 2px;
      position: relative;
      width: 100%;
      border: 0;
      display: block;
      text-align: left;
      font-size: 2.4rem;
      color: $text-color;
      background-color: #D5EEFF;
      cursor: pointer;
      outline: none;
    }

    .faq-answer {
      text-align: left;
      padding: 1rem 0rem 1rem 1.25rem;
      display:none;
      background-color: #D5EEFF;
      cursor: pointer;
    }

    .svg-icon-thin-x {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1em;
      width: 1em;
      fill: $text-color;
    }

    .svg-closed {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// 診断ボタン
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: .5rem;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 11rem;
  color: #fff;
  border-radius: .25rem;
  background: $register-color;
  position:relative;
  text-decoration: none;

  span {
    position: relative;
    font-size: 2rem;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0.3vh;
  width: 120%;
    height: 500%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
    transform: translateX(-98%) translateY(-70%) rotate(135deg);
    background: $main-color;
  }

  &:hover::before {
    -webkit-transform: translateX(-8%) translateY(-25%) rotate(135deg);
    transform: translateX(-8%) translateY(-25%) rotate(135deg);
  }
}

// フッター
footer {
  font-size: 1.4rem;
  margin: 80px 0 10px 0;
}