*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  margin: 0px;
  text-align: center;
  background-color: #f6fbff;
  color: #5b5b5b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  display: block;
}

header {
  position: relative;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
}

.header-wrapper .logo {
  margin: 1rem auto 1rem 3rem;
  font-size: 2.4rem;
  line-height: 5.6rem;
}

@media screen and (max-width: 520px) {
  .header-wrapper .logo {
    margin: 1rem auto 1rem 6vw;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

.header-wrapper .logo a {
  text-decoration: none;
  color: #2cbae7;
}

.header-wrapper ul {
  float: right;
  margin-right: 3rem;
  line-height: 5.6rem;
  padding-left: 0;
}

@media screen and (max-width: 520px) {
  .header-wrapper ul {
    margin-right: 3vw;
    line-height: 3.2rem;
  }
}

.header-wrapper ul li {
  display: inline;
  padding-left: 40px;
  font-size: 1.6rem;
}

@media screen and (max-width: 520px) {
  .header-wrapper ul li {
    padding-left: 1vw;
    margin-right: 3vw;
    font-size: 1.2rem;
  }
}

.header-wrapper ul li .signup {
  color: #fc9d9d;
}

.header-wrapper ul li a {
  text-decoration: none;
  color: #2cbae7;
  cursor: pointer;
  font-weight: bold;
}

html.modalset {
  overflow: hidden;
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
}

.modal-wrapper::-webkit-scrollbar {
  display: none;
}

.modal-wrapper::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

.modal-wrapper__bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
}

.modal-wrapper__box {
  width: 100%;
  max-width: 560px;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  white-space: normal;
}

.bold {
  font-weight: bold;
}

.terms-of-service {
  text-decoration: none;
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 3%;
  cursor: pointer;
}

#signup-form,
#login-form {
  width: 100%;
  font-size: 1.6rem;
}

#signup-form h2,
#login-form h2 {
  letter-spacing: 1px;
  margin: 40px auto 40px 14.5%;
  font-size: 2.4rem;
  text-align: left;
}

#signup-form form,
#login-form form {
  width: 70%;
  margin: 0 auto;
}

#signup-form input,
#login-form input {
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  display: block;
}

#signup-form p,
#login-form p {
  margin: 20px 0 20px -1px;
  width: 100%;
  text-align: left;
}

.submit-btn {
  display: inline-block;
  width: 100%;
  padding: 14px;
  margin: 10px auto 32px auto;
  background-color: #fc9d9d;
  border: none;
  color: white;
  cursor: pointer;
}

.top-image {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .top-image {
    height: 50vh;
  }
}

@media screen and (max-width: 520px) {
  .top-image {
    height: 50vh;
  }
}

.top-message {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .top-message {
    top: 20%;
  }
}

.top-message h1 {
  color: #2cbae7;
  font-size: 4.8rem;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .top-message h1 {
    font-size: 4.0rem;
  }
}

@media screen and (max-width: 520px) {
  .top-message h1 {
    font-size: 2.8rem;
  }
}

.top-message h2 {
  color: #2cbae7;
  margin: 0;
  font-size: 2.4rem;
}

@media screen and (max-width: 900px) {
  .top-message h2 {
    font-size: 2.0rem;
  }
}

@media screen and (max-width: 520px) {
  .top-message h2 {
    font-size: 1.6rem;
  }
}

.wrapper {
  margin: 50px 0;
}

@media screen and (max-width: 520px) {
  .wrapper {
    margin: 20px 0;
  }
}

.service-intro-container {
  width: 90vw;
  max-width: 1050px;
  margin: 0 auto 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 520px) {
  .service-intro-container {
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service-intro-container h2 {
  margin-top: -10px;
  margin-left: -1%;
  display: inline-block;
  font-size: 4rem;
}

@media screen and (max-width: 900px) {
  .service-intro-container h2 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 520px) {
  .service-intro-container h2 {
    font-size: 2.4rem;
    margin: 0;
  }
}

.service-intro-container p {
  font-size: 2.4rem;
  margin-top: 1.5rem;
  margin-left: -0.5%;
  line-height: 4rem;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .service-intro-container p {
    font-size: 2.0rem;
    line-height: 3.6rem;
  }
}

@media screen and (max-width: 520px) {
  .service-intro-container p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0 auto 0 auto;
  }
}

.service-intro-container__text {
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 520px) {
  .service-intro-container__text {
    width: 95%;
    text-align: center;
    margin-bottom: 10px !important;
  }
}

.service-intro-container__text span.beginning-is-key-bracket {
  display: block;
  margin-left: -1.4rem;
}

.service-intro-container #txt2 {
  width: 48rem;
  margin-right: -1rem;
}

@media screen and (max-width: 900px) {
  .service-intro-container #txt2 {
    width: 40rem;
  }
}

@media screen and (max-width: 520px) {
  .service-intro-container #txt2 {
    width: auto;
    margin: auto;
  }
}

.service-intro-container #txt2 h2 {
  margin-top: -10px;
}

@media screen and (max-width: 520px) {
  .service-intro-container #txt2 h2 {
    margin-top: 0;
  }
}

.service-intro-container__image {
  width: 40%;
}

@media screen and (max-width: 520px) {
  .service-intro-container__image {
    width: 95%;
  }
}

.service-intro-container__image#img1 .swiper-slide {
  width: auto;
  height: 30%;
}

.service-intro-container__image#img1 .swiper-slide img {
  -o-object-fit: fill;
     object-fit: fill;
}

.service-intro-container #img2 {
  width: calc(100% - 40rem);
  max-width: 40%;
  min-width: 35%;
}

@media screen and (max-width: 520px) {
  .service-intro-container #img2 {
    width: 95%;
    max-width: 95%;
  }
}

.service-intro-container .service-intro-container__image--picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-intro-container:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 520px) {
  .service-intro-container:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.faq-container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

.faq-container h2 {
  font-size: 4rem;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 900px) {
  .faq-container h2 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 520px) {
  .faq-container h2 {
    font-size: 2.4rem;
    margin: 0;
  }
}

.faq-list {
  margin: 0.25em 2.5%;
  max-width: 815px;
  padding-left: 0;
}

.faq-list__item {
  list-style: none;
  margin-bottom: 5px;
}

.faq-list__item .faq-question {
  padding: 1rem 2.5rem 1rem 1.25rem;
  margin-bottom: 2px;
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  text-align: left;
  font-size: 2.4rem;
  color: #5b5b5b;
  background-color: #d5eeff;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 900px) {
  .faq-list__item .faq-question {
    font-size: 2.0rem;
    line-height: 3.6rem;
  }
}

@media screen and (max-width: 520px) {
  .faq-list__item .faq-question {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0 auto 0 auto;
  }
}

.faq-list__item .faq-answer {
  text-align: left;
  padding: 1rem 0rem 1rem 1.25rem;
  display: none;
  background-color: #d5eeff;
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .faq-list__item .faq-answer {
    font-size: 2.0rem;
    line-height: 3.6rem;
  }
}

@media screen and (max-width: 520px) {
  .faq-list__item .faq-answer {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0 auto;
    padding-right: 1.6rem;
  }
}

.faq-list__item .svg-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1em;
  width: 1em;
  fill: #5b5b5b;
}

.faq-list__item .svg-open {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 11rem;
  color: #fff;
  border-radius: 0.25rem;
  background: #fc9d9d;
  position: relative;
  text-decoration: none;
}

a.btn-flat span {
  position: relative;
  font-size: 2rem;
}

a.btn-flat::before {
  position: absolute;
  top: 0;
  left: 0.3vh;
  width: 120%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #2cbae7;
}

a.btn-flat:hover::before {
  -webkit-transform: translateX(-8%) translateY(-25%) rotate(135deg);
  transform: translateX(-8%) translateY(-25%) rotate(135deg);
}

footer {
  font-size: 1.4rem;
  margin: 80px 0 10px 0;
}

footer .footer-nav {
  margin-bottom: 15px;
}

footer .footer-nav li {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  list-style: none;
}

footer .footer-nav li a {
  text-decoration: none;
  color: #5b5b5b;
}

footer .footer-nav li a::after {
  content: "|";
  margin: 0 1.8rem;
}

footer p {
  font-size: 1.2rem;
}
/*# sourceMappingURL=stylesheet.css.map */